aiobotocore==2.4.0
aiohttp==3.8.3
aioitertools==0.11.0
aiosignal==1.2.0
appnope==0.1.3
asttokens==2.1.0
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
boto3==1.21.0
botocore==1.27.59
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.0
coverage==6.5.0
dask==2022.10.2
debugpy==1.6.3
decorator==5.1.1
deltalake==0.6.2
distributed==2022.10.2
entrypoints==0.4
exceptiongroup==1.0.1
executing==1.2.0
frozenlist==1.3.1
fsspec==2022.10.0
graphviz==0.20.1
HeapDict==1.0.1
idna==3.4
iniconfig==1.1.1
ipycytoscape==1.3.3
ipykernel==6.17.0
ipython==8.6.0
ipywidgets==8.0.2
jedi==0.18.1
Jinja2==3.1.2
jmespath==0.10.0
jupyter_client==7.4.4
jupyter_core==4.11.2
jupyterlab-widgets==3.0.3
locket==1.0.0
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
msgpack==1.0.4
multidict==6.0.2
nest-asyncio==1.5.6
numpy==1.23.4
packaging==21.3
pandas==1.5.1
parso==0.8.3
partd==1.3.0
pexpect==4.8.0
pickleshare==0.7.5
pluggy==1.0.0
prompt-toolkit==3.0.32
psutil==5.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==10.0.0
Pygments==2.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.6
PyYAML==6.0
pyzmq==24.0.1
s3fs==2022.10.0
s3transfer==0.5.2
six==1.16.0
sortedcontainers==2.4.0
spectate==1.0.1
stack-data==0.6.0
tblib==1.7.0
tomli==2.0.1
toolz==0.12.0
tornado==6.1
traitlets==5.5.0
typing_extensions==4.4.0
urllib3==1.26.12
wcwidth==0.2.5
widgetsnbextension==4.0.3
wrapt==1.14.1
yarl==1.8.1
zict==2.2.0
