name: Tests

on: [push, pull_request]

# When this workflow is queued, automatically cancel any previous running
# or pending jobs from the same branch
concurrency:
  group: tests-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      matrix:
        os: ["windows-latest", "ubuntu-latest", "macos-latest"]
        python-version: ["3.9", "3.10", "3.11"]

    steps:
      - name: Support long paths
        run: git config --global core.longpaths true

      - name: Checkout source
        uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Needed by codecov.io

      - name: Setup Conda Environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-version: latest
          channel-priority: strict
          python-version: ${{ matrix.python-version }}
          environment-file: continous_integeration/environment-${{ matrix.python-version }}.yaml
          activate-environment: test-environment
          auto-activate-base: false

      - name: Install dask-deltatable
        run: python -m pip install -e ".[dev]"

      - name: conda list
        run: conda list

      - name: Run tests
        id: run_tests
        run: |
          set -o pipefail
          mkdir reports

          python -m pytest tests \
          --junitxml=reports/test-results.xml \
          --cov-report=xml \
          --cov dask_deltatable \
          | tee reports/stdout

      - name: Upload test results
        # ensure this runs even if pytest fails
        if: >
          always() &&
          (steps.run_tests.outcome == 'success' || steps.run_tests.outcome == 'failure')
        uses: actions/upload-artifact@v3
        with:
          path: reports

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
